:root {
  font-size: 62.5%;
  --clr-textDark: #293251;
  --clr-alert: #721c24;
  --clr-bgWeather: #f4f9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #f4f4f3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 350px;
  margin: auto;
  border-radius: 20px;
  background-color: #fff;
}

.container > * div {
  width: 100%;
}

.location {
  padding: 24px;
  border-radius: 10px 10px 0 0;
}

.location p {
  color: var(--clr-textDark);
  font-size: 3rem;
  font-weight: 300;
}

.weather-container {
  min-height: max-content;
  background-color: var(--clr-bgWeather);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0 8px 50px;
}

.weather-icon img {
  display: block;
  margin: -24px auto;
}

.temperature-value {
  height: 60px;
}

.temperature-value p {
  color: var(--clr-textDark);
  font-size: 5rem;
  cursor: pointer;
}

.temperature-description p {
  color: var(--clr-textDark);
  font-size: 3rem;
}
